@normal-spacing: 10px;
@thin-spacing: 5px;
@muted-color: #eee;
@primary-text-color: #222;
@highlighted-text-color: #1d718c;
@muted-text-color: #aaa;
@muted-outline-color: #ccc;

.loading-comments {
  margin-top: @normal-spacing;
  margin-bottom: @normal-spacing;;
}

div.post-title {
  background-color: #222;
  color: @muted-color;

  h1 {
    font-size: 21px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: @normal-spacing;
    padding-bottom: @normal-spacing;
  }
}

.post {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: @muted-color;
  padding: @normal-spacing 0;

  .author {
    font-weight: bold;
  }

  .title {

  }
}

.comment {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: @muted-color;
  padding: @normal-spacing 0;

  .timestamp {
    font-weight: normal;
    color: @muted-text-color;
    font-size: 12px;
  }

  .author {
    font-weight: bold;

    a {
      color: @primary-text-color;
    }

    a:hover {
      color: @highlighted-text-color;
    }

    .flair-text {
      font-weight: normal;
      color: @muted-text-color;
      font-size: 12px;
    }
  }

  .body {

  }
}

.reply-border (@color: @muted-outline-color) {
  border-top-color: @color;
  border-left-color: @color;
  border-left-width: @thin-spacing;
  border-left-style: solid;
}

.replies {
  .comment {
    background-color: #efefef;
    .reply-border(#cc333f);
  }

  .replies {
    .comment {
      .reply-border(#00a0b0);
    }

    .replies {
      .comment {
        .reply-border(#6a4a3c);
      }

      .replies {
        .comment {
          .reply-border(#eb6841);
        }

        .replies {
          .comment {
            .reply-border(#edc951);
          }
        }
      }
    }
  }
}
