@normal-spacing: 10px;
@thin-spacing: 5px;
@muted-color: #eee;
@primary-text-color: #424254;
@highlighted-text-color: #1d718c;
@muted-text-color: #aaa;
@muted-outline-color: #ccc;

body {
  color: @primary-text-color;
}

.edge-padding(@width: 15px) {
  margin: 0 -@width;
  padding: 0 @width;
}

.loading-comments {
  margin-top: @normal-spacing;
  margin-bottom: @normal-spacing;;
}

div.post-title {
  background-color: #351330;
  color: @muted-color;
  .edge-padding;

  h1 {
    font-size: 21px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: @normal-spacing;
    padding-bottom: @normal-spacing;
  }

  a, a:hover {
    color: #e8caa4;
  }
}

.post {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: @muted-color;
  padding: @normal-spacing 0;

  .author {
    font-weight: bold;
  }

  .title {

  }
}

a, a:hover {
  color: @highlighted-text-color;
}

.comment {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: @muted-color;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: @muted-outline-color;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: @muted-outline-color;
  .edge-padding;
  padding-top: @normal-spacing;
  padding-bottom: @normal-spacing;

  .timestamp {
    font-weight: normal;
    color: @muted-text-color;
    font-size: 12px;
  }

  .author {
    font-weight: bold;

    a {
      color: @primary-text-color;
    }

    a:hover {
      color: @highlighted-text-color;
    }

    .flair-text {
      font-weight: normal;
      color: @muted-text-color;
      font-size: 12px;
    }
  }

  .body {

  }
}

.reply-border (@color: @muted-outline-color, @padding: 1px) {
  border-top-color: @muted-outline-color;
  border-left-color: @color;
  border-left-width: @padding;
  padding-left: @normal-spacing;
  border-left-style: solid;
}

.replies {
  .comment {
    background-color: #fafafa;
    .reply-border(#cc333f, 2px);
  }

  .replies {
    .comment {
      .reply-border(#00a0b0, 3px);
    }

    .replies {
      .comment {
        .reply-border(#6a4a3c, 4px);
      }

      .replies {
        .comment {
          .reply-border(#eb6841, 5px);
        }

        .replies {
          .comment {
            .reply-border(#edc951, 6px);
          }
        }
      }
    }
  }
}

.self-text, .preview {
  background-color: #f3ebe1;
  .edge-padding;
  padding-top: @normal-spacing;
  padding-bottom: @normal-spacing;
}

.preview img {
  margin: auto;
}
