<div class="container comment-page">
  <div class="row">
    <div class="col-sm-12">
      <div class="post-title">
        <h1>
          <ng:switch on="op.isSelfPost">
            <span ng-bind="op.title" ng:switch-when="true"></span>
            <a ng-href="{{op.url}}" ng-bind="op.title" ng:switch-when="false"></a>
          </ng:switch>
          <small>{{op.domain}}</small>
        </h1>
      </div>
    </div>
  </div>
  <div class="row post-meta-data">
    <div class="col-sm-8">
      <span class="branding"><a href="/#">Too Much Reddit</a></span> &raquo;
      <span class="subreddit"><a ng-href="/#/r/{{op.subreddit}}">/r/{{op.subreddit}}</a></span>
    </div>
    <div class="col-sm-4 hidden-xs post-sharing">
      <a class="pull-right" href="https://twitter.com/share" class="twitter-share-button" data-url="http://toomuchreddit.com/#{{op.permalink}}" data-lang="en">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <div class="fb-like pull-right" data-href="http://toomuchreddit.com/#{{op.permalink}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7 col-sm-push-5 side-content">
      <h2 class="heading right">Preview</h2>
      <ng:switch on="op.isSelfPost">
        <div class="self-text" ng:switch-when="true">
          <div snuownd="op.selfText"></div>
        </div>
        <div class="preview" ng:switch-when="false">
          <asc-previewer src="op.url"></asc-previewer>
        </div>
      </ng:switch>
      <h2 class="hidden-xs heading right">Subreddit Sidebar</h2>
      <div class="hidden-xs subreddit-info">
        <asc-previewer src="subredditUrl"></asc-previewer>
      </div>
    </div>
    <div class="col-sm-5 col-sm-pull-7">
      <h2 class="heading comments left" ng-show="!loadingComments">Comments
        <button class="pull-right btn btn-xs auto-refresh"
          ng-class="{'btn-success': autoRefresh, 'btn-danger': !autoRefresh}"
                ng-click="toggleAutoRefresh()">
          <span ng-show="autoRefresh">
            <span class="glyphicon glyphicon-refresh"></span> CONNECTED
          </span>
          <span ng-show="!autoRefresh">
            <span class="glyphicon glyphicon-minus-sign"></span> DISCONNECTED
          </span>
        </button>
      </h2>
      <div class="loading-comments" ng-show="loadingComments">
        Loading comments from <a ng-href="http://www.reddit.com{{op.permalink}}">reddit</a>...
      </div>
      <div class="comments" ng-show="!loadingComments" ng-repeat="comment in comments">
        <comment comment="comment" op="op.author"></comment>
      </div>
    </div>
  </div>
</div>
