<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h1>Too Much Reddit</h1>
        <p>
          2MR is primary created to let Redditors browse real-time threads such as game threads and
          AMAs. However, nothing is stopping you from browsing any subreddit/comment thread.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h4>Browse the hottest threads</h4>
      <p>whattt </p>
    </div>
    <div class="col-sm-4">
      <h4>Browse your favorite subreddits</h4>
      <p>whattt </p>
    </div>
    <div class="col-sm-4">
      <h4>Follow any reddit comment thread</h4>
      <p>whattt </p>
    </div>
  </div>
</div>
